.topic-list__item {
  line-height: 24px;
  margin-left: 24px;
}

.topic-list__item span {
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;
  color: #1d1d1d;
  cursor: pointer;

  &:hover {
    text-decoration: overline;
    color: #111;
  }
}

.dark .topic-list__item span {
  color: #e0e0e0;

  &:hover {
    color: #FFFFFF;
  }
}