.top-nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px;
  padding-right: 24px;
  align-items: center;
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 4px 6px -6px #222;
  height: 72px;
  background-color: #FFFFFF;
}

.top-nav-bar__logo {
  text-decoration: overline;
  font-weight: 500;
  font-size: 24px;
  color: #111;
  text-underline-position: auto;
  margin-left: 24px;
  cursor: pointer;
}

.dark .top-nav-bar {
  background-color: #383838;
}

.dark .top-nav-bar__logo {
  color: #ffffff;
}

.dark-button {
  background-color: #a164b4;
  color: white;
  border: none;
  padding: 5px;
  font-size: 15px;
  height: 30px;
  width: 30px;
  box-shadow: 0 2px 4px darkslategray;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 30px;
}

.dark .dark-button {
  background-color: #ffffff;
  color: white;
}

.top-nav-bar__icons {
  display: flex;
  align-items: center;
}